@media screen and (max-width: 780px){
    header{
        width: 100%;
        max-width: 400px;
        padding: 10px;
        margin: 0 auto;
    }

    #login_header{
        width: 100%;
        background-color: aqua;
    }

    main{
        width: 100%;
        max-width: 400px;
    }
    footer{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    #deletar th{
        max-width: 70px;
        font-size: 9pt;
    }

    #deletar td{
        max-width: 70px;
        font-size: 9pt;
    }

    #php p{
        margin: 0;
    }

    select{
        font-size: 9pt;
    }

    button{
        font-size: 9pt;
    }

    input{
        width: 100%;
        font-size: 9pt;
    }

    #usuarios div{
        flex-direction: column;
    }

    #usuarios-lista th{
        max-width: 120px;
    }

    #usuarios-lista td{
        max-width: 120px;
    }

    #form-radio{
        font-size: 12pt;
    }

    #form-radio label{
        width: 10px;
    }

    #form-radio input{
        width: 10px;
    }
    
}